body {
  section {
    h1, h2 {
      color: #333;
    }
  }  
}

section.main article {
  background-color: lighten(#CCC, 18%);
  border-width: 1px;
  border-style: solid;
  border-color: lighten(#CCC, 9%);
}