@font-face {
  font-family: ChunkFive;
  src: url('../fonts/Chunkfive-webfont.woff') format('woff');
}

@font-face {
  font-family: RalewayThin;
  src: url('../fonts/raleway_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url('../fonts/OpenSans-Bold.ttf') format('ttf'),
}

body {
  section {
    h1, h2, h3, h4 {
      color: #333;
    }
  }  
}

header {
  h3 {
    font-family: ChunkFive, sans-serif;
  }
}

nav {
  li {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
  }
}

/*************** ATTRIBUTE SELECTORS *************/
section.main {
  [alt] {
    border: 1px dashed #000;
  }

  [alt='triangle'] {
    border: 2px solid #F00;
  }

  [title~='blue'] {
    border: 3px dotted #00F;
  }

  [title^='orange'] {
    border: 4px solid darkorange;
  }

  [src$='png'] {
    border-top: 5px solid green;
  }

  [title*='image'] {
    border-bottom: 10px double yellowgreen;
  }

  article {
    background-color: lighten(#CCC, 18%);
    border-width: 1px;
    border-style: solid;
    border-color: lighten(#CCC, 9%);
  }

  article.sibling {
    h4 {
      margin-top: 4px;
    }

    h4 + p {
      font-style: italic;
    }

    h4 ~ p {
      color: crimson;
    }

    p:nth-last-child(-n + 1) {
      color: green;
    }

    p::first-letter {
      font-size: 1.8em;
    }

    p::selection {
      background-color: #1A1;
      color: #FFF;
    }

    p::after {
      content: ' →';
    }
  }
}
/************** END ATTRIBUTE SELECTORS **********/

/************** BEGIN PSEUDO-CLASSES/ELEMENTS ****/
.example:target {
  color: green;
}

section.main {
  div.pseudo {

    :not(p) {
      background-color: crimson;
    }

    :first-child {
      text-decoration: underline;
    }

    :last-child {
      padding-left: 20px;
    }

    p {
      height: 1.2em;
    }

    p:empty {
      background-color: #F09;
    }

    p:first-child {
      color: red;
    }

    p:nth-child(2n + 1) {
      font-style: italic;
    }

    p:nth-last-child(-n + 2) {
      color: green;
    }

    p:nth-child(even) {
      font-size: 1.5em
    }

    p:nth-of-type(3n) {
      background-color: yellow;
    }

    p:first-of-type {
      border: 1px solid #AAA;
    }

    p:last-of-type {
      border: 1px solid #F00;
    }

    span:only-of-type {
      color: blue;
    }
  }
}
/************** END PSEUDO-CLASSES/ELEMENTS ******/

/************** BEGIN WEB FONTS ******************/

article.fonts {
  h3.webfont { 
    font-family: ChunkFive, sans-serif; 
  }

  p {
    font-family: RalewayThin, sans-serif;
  }
}


/************** END WEB FONTS ********************/

/************** BEGIN TEXT EFFECTS ***************/

section.main {
  div.text_effects {
    p {
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      font-weight: bold;
      font-size: 2em;

      &:first-child {       
        text-shadow: -3px -3px;
      }

      &.second {
        text-shadow: -3px -3px #CCC;
      }

      &.third {
        text-shadow: -3px -3px 3px #CCC;
      }
    }
  }

  div.overflow {
    margin: 0 20px;
    width: 500px;
    height: 36px;
    border: 1px solid #555;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  div.no-wrapping, div.wrapping {
    margin: 0 40px;
    width: 200px;
    height: 112px;
    border: 1px solid #555;
    float: left;

    p.words {
      word-wrap: break-word;
    }
  }
}

/************** END TEXT EFFECTS *****************/

/************** BEGIN TEXT EFFECTS ***************/

section.main {
  div.column-count {
    p[class*='-2'] {
      column-count: 2;
    }

    p[class*='-3'] {
      column-count: 3;
    }

    p[class*='-4'] {
      column-count: 4;
    }
  }

  div.column-width {
    p[class*='-200'] {
      column-width: 200px;
      // width: 420px;
    }

    p[class*='-300'] {
      column-width: 200px;
      width: 820px;
    }
  }

  div.column-columns {
    p[class*='-400'] {
      columns: 100px 6;
    }
  }

  div.column-gap {
    p.column-gap-2 {
      column-count: 3;
      column-gap: 2em;
    }
  }
}



/************** END TEXT EFFECTS *****************/