@font-face {
  font-family: ChunkFive;
  src: url('../fonts/Chunkfive-webfont.woff') format('woff');
}

@font-face {
  font-family: RalewayThin;
  src: url('../fonts/raleway_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url('../fonts/OpenSans-Bold.ttf') format('ttf'),
}