html
  -var selected = 'Background Images';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section.main
      h1 Background Images

      h2 Property - Background-Repeat

      +formatCssCode("CSS", "p {", "background: url('bar.png') no-repeat padding-box content-box;", "}")

      p
        |The background-repeat property extends functionality from CSS2.1 by including two new property values - space and round.

      h3 Background-Repeat with Space and Round
      +formatCssCode("CSS", "p {", "background-repeat: space;", "}")

      +exampleBlock("Example - Background-Repeat", "background-0", "background-repeat", {el: "img", selector: "image", text: "img/circle.png"})

      +exampleBlock("Example - Background-Repeat", "background-1", "background-repeat", {el: "p", selector: "testTitle", text: ""})
      +formatCssCode("CSS", "p {", "background: url('../img/circle.png') no-repeat 75% 85%, url('../img/square.png') no-repeat 50% 50% #000;", "background-size: auto 50%, auto 15%;", "}")

    include includes/footer.pug