html
  -var selected = 'Basic Layout';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section.main

      h1 Multiple Columns

      h2 Column Layout Methods

      p
        |The text-shadow property will apply a shadow effect to text, giving the user a sense of 3 dimensionality.

      h3 Column Count
      +formatCssCode("CSS", "element {", "column-count: columns;", "}")

      p Application of a multi-column layout with the column-count property
      +formatCssCode("CSS", "p {", "column-count: 2", "}")

      +codeExampleBlock("Example - Column Count", "column-count", "column-count-2", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, ullam? Consequuntur officia eaque quidem nemo excepturi, magnam nobis rem sequi quas nostrum possimus sunt labore in veniam ipsum corporis architecto culpa ullam nisi dolore itaque aliquid molestias? Perspiciatis, totam! Iure, quis consequuntur distinctio hic ut incidunt vel repellendus obcaecati ea illum quasi, ab commodi, quidem laudantium harum quaerat ex veritatis totam nam. Reprehenderit, a sint natus accusamus modi nemo laborum ad ratione delectus! Quaerat, commodi, enim voluptatum ipsa accusantium ab quo excepturi error praesentium soluta animi consectetur cumque nobis sequi temporibus autem itaque vel velit molestiae aliquam illo? Suscipit, eum.")
      +formatCssCode("CSS", "p {", "column-width: 200px;", "}")

      hr
      h3 Column-Width Property
      +formatCssCode("CSS", "element {", "column-width: length;", "}")

      +codeExampleBlock("Example - Column Width", "column-width", "column-width-200", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, ullam? Consequuntur officia eaque quidem nemo excepturi, magnam nobis rem sequi quas nostrum possimus sunt labore in veniam ipsum corporis architecto culpa ullam nisi dolore itaque aliquid molestias? Perspiciatis, totam! Iure, quis consequuntur distinctio hic ut incidunt vel repellendus obcaecati ea illum quasi, ab commodi, quidem laudantium harum quaerat ex veritatis totam nam. Reprehenderit, a sint natus accusamus modi nemo laborum ad ratione delectus! Quaerat, commodi, enim voluptatum ipsa accusantium ab quo excepturi error praesentium soluta animi consectetur cumque nobis sequi temporibus autem itaque vel velit molestiae aliquam illo? Suscipit, eum.")
      +formatCssCode("CSS", "p {", "column-width: 200px;", "}")

      +codeExampleBlock("Example - Column Width & Width", "column-width", "column-width-300", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, ullam? Consequuntur officia eaque quidem nemo excepturi, magnam nobis rem sequi quas nostrum possimus sunt labore in veniam ipsum corporis architecto culpa ullam nisi dolore itaque aliquid molestias? Perspiciatis, totam! Iure, quis consequuntur distinctio hic ut incidunt vel repellendus obcaecati ea illum quasi, ab commodi, quidem laudantium harum quaerat ex veritatis totam nam. Reprehenderit, a sint natus accusamus modi nemo laborum ad ratione delectus! Quaerat, commodi, enim voluptatum ipsa accusantium ab quo excepturi error praesentium soluta animi consectetur cumque nobis sequi temporibus autem itaque vel velit molestiae aliquam illo? Suscipit, eum.")
      +formatCssCode("CSS", "p {", "column-width: 200px;", "width: 820px", "}")

      +codeExampleBlock("Example - Combining Column Width & Column Count", "column-columns", "column-width-400", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, ullam? Consequuntur officia eaque quidem nemo excepturi, magnam nobis rem sequi quas nostrum possimus sunt labore in veniam ipsum corporis architecto culpa ullam nisi dolore itaque aliquid molestias? Perspiciatis, totam! Iure, quis consequuntur distinctio hic ut incidunt vel repellendus obcaecati ea illum quasi, ab commodi, quidem laudantium harum quaerat ex veritatis totam nam. Reprehenderit, a sint natus accusamus modi nemo laborum ad ratione delectus! Quaerat, commodi, enim voluptatum ipsa accusantium ab quo excepturi error praesentium soluta animi consectetur cumque nobis sequi temporibus autem itaque vel velit molestiae aliquam illo? Suscipit, eum.")
      +formatCssCode("CSS", "p {", "columns: 100px 6;", "}")

      +codeExampleBlock("Example - Column Gaps and Rules", "column-gap", "column-gap-2", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde illum eaque sint exercitationem perspiciatis iusto ducimus omnis provident ab odit est sequi magnam illo repellendus cumque, neque maiores quod autem repellat laborum blanditiis, ratione quo! Numquam aliquam quisquam iusto praesentium! Reprehenderit, a sint natus accusamus modi nemo laborum ad ratione delectus! Quaerat, commodi, enim voluptatum ipsa accusantium ab quo excepturi.")
      +formatCssCode("CSS", "p {", "column-count: 3", "column-gap: 2em;", "column-rule-width: 0.3em;", "column-rule-style: double;", "column-rule-color: green;", "}")
      
    include includes/footer.pug