html
  -var selected = 'Introduction';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section

      h1 CSS3 Syntax and Usage

      p 
        |This website explores all the features of CSS3 and how they are implemented. Including how to format code smaples
        code var x = 10;
        | to display how to write code.

      pre
        | body {
        |   background-color: red;
        | }

    include includes/footer.pug