html
  -var selected = 'Media Queries';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section

      h1 Media Queries and Different Screens


    include includes/footer.pug