html
  -var selected = 'Media Queries';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section

      h1 Media Queries and Different Screens

      h2 Mobile-First Philosophy

      p
        |The concept of mobile-first web development has to do with beginning the development process with the mobile screen in mind and then moving onto development for larger screens. The reasoning behind this was that developer had been developing for larger screens for which loading network-demanding resources like images and large stylesheets would consume a lot of data, but then be hidden from the mobile display. Using media queries will prevent high-cost asset loading for mobile users.

      h2 In Practice

      p
        |Using media queries is a technique to selectively display content to a user depending on a certain number of criteria that can be defined such as screen minimum and maximum width and screen resolution.

      p
        |Media queries are defined using a syntax that includes some logic used to determine how to apply the style rules.

      


    include includes/footer.pug