html
  -var selected = 'Selectors';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug

    section.main

      h1 Using Selectors

      h2 DOM Selectors

      p
        |CSS3 builds on the selectors available from CSS1 and CSS2. In CSS3 there are selectors that target class, type, and attributes when making selections.

    include includes/footer.pug