html
  -var selected = 'Values and Sizing';

  head
    include includes/head.pug
    title= selected

  body
    include includes/header.pug

    include includes/navigation.pug




    include includes/footer.pug