* {
  margin: 0;
  padding: 0;
}

/*************** BEGIN HEADER ************************/

header {
  width: 100%;
  background-color: #F7C26D;
  border-bottom: 5px solid #BBB;
  position: fixed;
  z-index: 1000;
}

@media screen and (min-width: 1200px) {
  header {
    padding: 15px;
  }

  header h3 {
    font-size: 2em !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 12px;
  }

  h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 7px;
  }

  h3 {
    font-size: 1.3em;
  }
}

/*************** END HEADER **************************/

/*************** BEGIN NAVIGATION ********************/

nav {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #F7C26D;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-right: 1px solid #666;
}

nav li a {
  display: block;
  color: #000;
  text-decoration: none;
}

nav li {
  border-bottom: 1px solid #666;
  font-size: 0.9em;
}

nav li:last-child {
  margin-bottom: 100px;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #9DD3EB;
  color: #000;
}

.active {
  background-color: #047DD1;
  color: #FFF;
}

@media screen and (min-width: 1200px) {
  nav {
    margin-top: 68px;
  }

  nav ul {
    width: 300px;
  }

  nav li a {
    padding: 8px 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav {
    margin-top: 56px;
  }
  
  nav ul {
    width: 200px;
  }

  nav li a {
    padding: 6px 12px;
  }
}

@media screen and (max-width: 767px) {
  nav {
    margin-top: 41px;
  }
  
  nav ul {
    width: 150px;
  }

  nav li a {
    padding: 6px 8px;
  }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
  h4 { color: yellow; }
}

/*************** END NAVIGATION ********************/

/*************** BEGIN SECTION & CONTENT ***********/

section.main {
  position: relative;
  overflow: hidden;
  padding: 12px;
}

section.main hr {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 12px;
  background-color: #DDD; 
  height: 1px; 
  width: 90%;
  border: 0;
}

section.main article {
  margin: 15px;
  padding: 15px 0;
  border-radius: 5px;
}

section.main article h5 {
  margin-bottom: 10px;
}

section.main article img {
  width: 75px;
  margin: 0 15px;
}

article {
  overflow: auto;
}

article h3, article h4, article p {
  margin-left: 15px !important;
}

article h5 {
  padding: 4px 12px;
  position: relative;
  top: -15px;
  left: 0px;
  background-color: #047DD1;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-size: 0.9em;
  color: #FFF;
  font-family: sans-serif;
}

section h1 {
  margin-bottom: -10px;
}

section h2 {
  margin-top: 24px;
  margin-bottom: -2px;
}

section h4 {
  margin-top:18px;
}

section p {
  margin: 12px 0;
}

code {
  margin: 0 5px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #EEE;
}

pre {
  margin: 15px 5px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #BBB;
  background-color: #EEE;
}

pre span {
  padding: 2px 20px;
  position: relative;
  top: -8px;
  left: -10px;
  background-color: #047DD1;
  border-radius: 7px 0 0 0;
  font-weight: bold;
  font-size: 1.15em;
  color: #FFF;
}

@media screen and (min-width: 1200px) {
  section.main {
    top: 68px;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }
 
  h3 {
    font-size: 1.1em;
  }

  section {
    margin-left: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  section.main {
    top: 56px;
  }
  
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  section {
    margin-left: 200px;
  }
}

@media screen and (max-width: 767px) {
  section.main {
    top: 41px;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }

  section {
    margin-left: 150px;
  }
}

/*************** END SECTION & CONTENT ***********/